.chat-side {
  width: 300px;
  color: white;
  float: left;
}
.side-header {
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  float: left;
  width: 100%;
  font-weight: bold;
  &__user-name {
    display: block;
    margin-block-start: 1em;
    float: left;
  }
  .user-menu {
    display: flex;
    li {
      margin-left: 0.3rem;
    }
  .icon {
    color: white;
  }
  }
}

  
.groups {
  height: calc(100vh - 100px);
  width: 260px;
  display: block;
  background-color: #2f3e51;
  box-sizing: border-box;
  padding: 20px 20px 0px;
  overflow: scroll;
  width: 100%;
  .group {
    margin: 0 0 40px;
    &__group-name {
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
    &__latest-message {
      font-size: 11px;
    }
  }
}



.chat-main {
  width: calc(100vw - 300px);
  float: left;
  
  
  .hidden{
    display: none;
  }

  
  
  .new-message {
    display: flex;
    line-height: 50px;
    &__submit-btn {
      height: 48px;
      width: 100px;
      border: 1px;
      padding: 0 30px;
      margin: 0 0 0 15px;
      background-color: #38aef0;
      color: white;
      text-align: center;
      line-height: 50px;
    }
  }

  .lower-message__image {
    width: 200px;
    height: 200px;
  }
  
  
  .current-group {
    margin-top: 35px;
    &__name {
      font-size: 20px;
    }
  }
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      font-size:  16px;
      color: #38aef0 ;
      border: 1px solid #38aef0 ;
      padding: 0 20px ;
      margin: 28px 0 0 0;
    }
  }


  .member-list {
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    color: #999999;
    &__member {
      color: #999999;
      font-size: 12px
    }
  }
  .messages {
    height: calc(100vh - 282px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
  }

  .message {
    box-sizing: border-box;
    padding-bottom: 40px;
    background-color: #fafafa;
  }

  .upper-info {
    display: flex;
    &__user {
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
    }
    &__date {
      font-size: 12px;
      margin: 0 0 0 10px
    }
  }
}


.form {
  height: 50px;
  padding: 20px 40px;
  background-color: #ddd;

  &__message {
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
  }

  &__mask {
    font-size: 1.3rem;
    position: absolute; 
    right: 165px; bottom: 30px;
    cursor: pointer;
  }
}

.new_message {
  display: flex;
}


.form__submit {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
}

.group_messages_path{
  color: white;
  text-decoration: none;
}