.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        moriwaki
      %ul.user-menu
        %li.user-menu__edit-user 
          = fa_icon 'edit'
        %li.user-menu__new-groups
          = fa_icon 'cog'
    .groups
      .group
        %p.group__group-name
          example
        %p.group__latest-message
          aaa
      .group
        %p.group__group-name
          sample-group
        %p.group__latest-message
          まだメッセージがありません
      .group
        %p.group__group-name
          example
        %p.group__latest-message
          hello