.main-header
  .current-group
    %h2.current-group__name 
      = @group.name
    %ul.member-list
      Member :
      %li.member-list__member
        - @group.users.each do |group_user|
          = group_user.name
  .main-header__edit-btn
    = link_to edit_group_path(@group) do
      Edit